---------------------------------Create database---------------------------------------------
USE [master]
GO

/****** Object:  Database [DQEngine]    Script Date: 20/08/2025 2:14:02 PM ******/
CREATE DATABASE [DQEngine]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'DQEngine', FILENAME = N'D:\SQLLogs\DQEngine.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'DQEngine_log', FILENAME = N'D:\SQLLogs\DQEngine_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO

IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [DQEngine].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO

---------------------------------Create tables---------------------------------------------
USE [DQEngine]
GO
/****** Object:  Table [dbo].[comparisonop]    Script Date: 20/08/2025 2:11:42 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[comparisonop](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[inc_excl] [nvarchar](10) NULL,
	[operator] [nvarchar](10) NULL,
 CONSTRAINT [PK_comparisonop] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[configtestparameter]    Script Date: 20/08/2025 2:11:42 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[configtestparameter](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[test_id] [int] NULL,
	[test_parameter_id] [int] NULL,
	[inc_excl] [nvarchar](10) NULL,
	[operator] [int] NULL,
	[vlow] [nvarchar](max) NULL,
	[vhigh] [nvarchar](max) NULL,
 CONSTRAINT [PK_configtestparameter] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[dataset]    Script Date: 20/08/2025 2:11:42 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[dataset](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[data_type] [nvarchar](20) NULL,
	[path] [nvarchar](500) NULL,
	[name] [nvarchar](500) NULL,
 CONSTRAINT [PK_dataset] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[matrixexecute]    Script Date: 20/08/2025 2:11:42 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[matrixexecute](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[test_id] [int] NULL,
	[config_test_parameter_id] [int] NULL,
	[scope_id] [varchar](20) NULL,
 CONSTRAINT [PK_matrixexecute] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[metric]    Script Date: 20/08/2025 2:11:42 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[metric](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[dataset_id] [int] NULL,
	[name] [nvarchar](500) NULL,
 CONSTRAINT [PK_metric] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[notification]    Script Date: 20/08/2025 2:11:42 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[notification](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[to] [nvarchar](500) NULL,
	[cc] [nvarchar](500) NULL,
	[bcc] [nvarchar](500) NULL,
 CONSTRAINT [PK_notification] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[scope]    Script Date: 20/08/2025 2:11:42 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[scope](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[dataset_id] [int] NULL,
	[selector_id] [int] NULL,
	[metric_id] [nvarchar](500) NULL,
 CONSTRAINT [PK_scope] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[selector]    Script Date: 20/08/2025 2:11:42 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[selector](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[field_name] [nvarchar](200) NULL,
	[inc_excl] [nvarchar](20) NULL,
	[operator] [int] NULL,
	[vlow] [nvarchar](max) NULL,
	[vhigh] [nvarchar](max) NULL,
 CONSTRAINT [PK_selector] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[test]    Script Date: 20/08/2025 2:11:42 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[test](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[group] [nvarchar](10) NULL,
	[description] [nvarchar](500) NULL,
	[expired] [datetime] NULL,
 CONSTRAINT [PK_test] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[testparameter]    Script Date: 20/08/2025 2:11:42 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[testparameter](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[test_id] [int] NULL,
	[name] [nvarchar](50) NULL,
	[description] [nvarchar](500) NULL,
 CONSTRAINT [PK_testparameter] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
